<%= form_with model: meme, id: 'meme-form' do |form| %>
  <% if meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
        <% meme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :source_url %>
    <%= form.text_field :source_url %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.text_field :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.text_field :end %>
  </div>

  <div class="field">
    <%= form.label :private, style: 'display: inline' %>
    <%= form.check_box :private %>
  </div>

  <fieldset>
    <legend>Commands</legend>
    <em>Check the commands you wish to delete</em><br/>
    <%= form.fields_for :commands do |command_form| %>
      <%= command_form.text_field :name %>
      <%= command_form.check_box :_destroy %>
      <br/>
    <% end %>
    <button id="add-command" type="button">Add Command</button>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'command' %>