<p id="notice"><%= notice %></p>

<% @memes.each do |meme| %>
  <div class="meme" data-audio="<%= url_for(meme.audio) %>">
    <div class="progress-bar"></div>
    <div class="content">
      <svg class="play"><use xlink:href="/icons/all.svg#play"/></svg>
      <svg class="stop"><use xlink:href="/icons/all.svg#stop"/></svg>
      <%= link_to meme.name, meme_path(meme), class: 'name' %>
      <span><%= meme.duration %>s</span>
      <span style="display: none;">><%= link_to 'Show', meme %></span>
      <%= link_to edit_meme_path(meme), class: 'icon' do %>
        <svg class="pen"><use xlink:href="/icons/all.svg#pen"/></svg>
      <% end %>
      <%= link_to meme, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon' do %>
        <svg class="trash"><use xlink:href="/icons/all.svg#trash"/></svg>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'Add Meme', new_meme_path, class: 'btn btn--fixed' %>

<%= javascript_pack_tag 'meme' %>