<p id="notice"><%= notice %></p>

<div class="mp-title">
  <h1 class="mp-name"><%= @meme.name %></h1>
  <% access = @meme.private ? "private" : "public" %>
  <div class="mp-<%= access  %>" title="<%= access.capitalize %>"></div>
</div>

<div class="mp-commands">
  <h2>Commands</h2>
  <div class="commands">
    <%= render @meme.commands %>
    <%= render 'commands/form' %>
  </div>
</div>

<div class="mp-info">
  <div class="mp-source">
    <h2>Source</h2>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube-nocookie.com/embed/<%= @embed_url %>"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
    <%= @meme.source_url %>
    <p>
      <strong>Start:</strong>
      <%= @meme.start %>
    </p>

    <p>
      <strong>End:</strong>
      <%= @meme.end %>
    </p>
  </div>

  <div class="mp-audio">
    <h2>Audio</h2>
    <audio
      controls
      src="<%= url_for(@meme.audio) %>">
    </audio>

    <p>
      <strong>Duration:</strong>
      <%= @meme.duration %>s
    </p>

    <p>
      <strong>Integrated Loudness:</strong>
      <%= @meme.loudness_i %> LUFS
    </p>

    <p>
      <strong>Loudness Range:</strong>
      <%= @meme.loudness_lra %> LRA
    </p>

    <p>
      <strong>True Peak:</strong>
      <%= @meme.loudness_tp %> dBTP
    </p>

    <p>
      <strong>Loudness Threshold:</strong>
      <%= @meme.loudness_thresh %> LUFS
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_meme_path(@meme), class: 'btn btn--fixed' %>
