<!DOCTYPE html>
<html>
  <head>
    <title>Meme Archive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to '/memes' do %>
        <%= image_tag "logo.svg" %>
      <% end %>
    </header>
    <main class="<%= current_page?('/memes') ? 'memes' : '' %>">
      <%= yield %>
    </main>
  </body>
</html>
